<html><head>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Us - FinVest Lending Platform</title>
        <link rel="icon" href="../static/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="../static/style/style.css">
    </head>
    <body>
        <header>
            <nav class="nav-bar">
                <div class="logo">
                    <img src="../static/favicon.png" alt="LoanQuest Logo">
                </div>
                <div>
                    <ul class="links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/register">Register</a></li>
                        <li><a href="/borrow">Borrow</a></li>
                        <li><a href="/lend">Lend</a></li>
                        <li><a href="/sign-in">Sign In</a></li>
                    </ul>
                </div>
            </nav>
        </header>
    
        <main>
            <h1>FinVest</h1>
            <p>We are a decentralized peer-to-peer lending platform that connects investors and borrowers. Our mission is to
                make loans more accessible while providing a safe and transparent environment for both parties.</p>
        </main>
    
        <footer>
            <p>&copy; 2024 LoanQuest. All rights reserved.</p>
        </footer>
    </body>
    </html>